<input type="hidden" name="authenticity_token" 
 value="<%= form_authenticity_token %>">
  <div class="control-group">
  <label class="control-label" for="course_type_long_name">Long Name</label>
    <div class="controls">
      <input type="text" id="course_type_long_name" 
             name="course_type[long_name]" 
             value="<%= @course_type.long_name %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="course_type_short_name">Short Name</label>
  <div class="controls">
    <input type="text" id="course_type_short_name" 
           name="course_type[short_name]" 
           value="<%= @course_type.short_name %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="course_type_discipline">Discipline</label>
  <div class="controls">
    <input type="text" id="course_type_discipline" 
           name="course_type[discipline]" 
           value="<%= @course_type.discipline %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="course_type_level">Level</label>
  <div class="controls">
    <input type="text" id="course_type_level" 
           name="course_type[level]" value="<%= @course_type.level %>">
<br>
<br>
<input type="submit" value="Submit" class="btn btn-primary">