<input type="hidden" name="authenticity_token" 
 value="<%= form_authenticity_token %>">
<div class="control-group">
  <label class="control-label" for="term_semester">Semester</label>
  <div class="controls">
    <input type="text" id="term_semester" 
           name="term[semester]" value="<%= @term.semester %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="term_code">Code</label>
  <div class="controls">
    <input type="text" id="term_code" 
           name="term[code]" value="<%= @term.code %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="term_year">Year</label>
  <div class="controls">
    <input type="text" id="term_year" 
           name="term[year]" value="<%= @term.year %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="term_number">Term Number</label>
  <div class="controls">
    <input type="text" id="term_number" 
           name="term[number]" value="<%= @term.number %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="term_reg_start">Registration Dates</label>
  <div class="controls">
    <input type="date" id="term_reg_start" 
           name="term[reg_start]" value="<%= @term.reg_start %>">
    -
    <input type="date" name="term[reg_end]" value="<%= @term.reg_end %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="term_start_date">Term Dates</label>
  <div class="controls">
    <input type="date" id="term_start_date" 
           name="term[start_date]" value="<%= @term.start_date %>">
    -
    <input type="date" name="term[end_date]" value="<%= @term.end_date %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="term_add_drop_end">Final Add/Drop Date</label>
  <div class="controls">
    <input type="date" id="term_add_drop_end" 
           name="term[add_drop_end]" value="<%= @term.add_drop_end %>">
    <br><br>
    <input type="submit" value="Submit" class="btn btn-primary">