<% if current_user.admin %>
  <!-- Button to trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary">Add Term</a>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Term</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            <form action="<%= terms_url %>" method="post">
                  <%= render partial: "form" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
<% end %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Year</th>
      <th>Semester</th>
      <th>Code</th>
      <th>Department Code</th>
      <th>Registration Dates</th>
      <th>Term Dates</th>
      <th>Add-Drop Date</th>
      <% if current_user.admin %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.year %></td>
        <td><%= term.semester %></td>
        <td><%= term.code %></td>
        <td><%= term.dept_code %></td>
        <td><%= term.reg_dates %></td>
        <td><%= term.dates %></td>
        <td><%= "#{term.add_drop_end.strftime("%m/%d/%Y")}" %></td>
        <% if current_user.admin %>
          <td><%= link_to "edit", edit_term_url(term) %> |
             <%= link_to "delete", term_url(term), :method => "delete" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>