<% if current_user.client %>
  <!-- Button to trigger modal -->
  <a data-toggle="modal" href="#myModal" class="btn btn-primary">Add Instructor</a>
   
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add Instructor</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            <form action="<%= locations_url %>" method="post">
              <%= render partial: "form" %>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<% end %>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Mailbox</th>
      <% if current_user.client %>
        <th>Pay Rate</th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.idn %></td>
        <td><%= instructor.full_name %></td>
        <td><%= instructor.phone %></td>
        <td><%= instructor.email %></td>
        <td><%= instructor.location.code %></td>
        <% if current_user.client %>
          <td><%= "$#{sprintf('%.2f',instructor.pay_rate)}"%></td>
          <td><%= link_to "edit", edit_instructor_url(instructor) %> |
              <%= link_to "delete", instructor_url(instructor), :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>