<input type="hidden" name="authenticity_token" 
       value="<%= form_authenticity_token %>">
<div class="form-group">
  <label class="col-md-3 control-label">Term</label>
  <div class="col-md-2">
    <input type="text" id="course_section" 
           value="<%= current_term.dept_code if current_term %>" 
           class="form-control" disabled>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_name">Event Name</label>
  <div class="col-md-4">
    <input type="text" id="event_name" class="form-control"
           name="event[name]" value="<%= @event.name %>">
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_date">Date</label>
  <div class="col-md-4">
    <input type="date" id="event_date" name="event[date]" 
           class="form-control" value="<%= @event.date %>">
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_start_time">Start Time</label>
  <div class="col-md-3">
    <input type="time" id="event_start_time" 
           name="event[start_time]"
           class="form-control" 
           value=<% if @event.start_time %>
           <%= "#{sprintf("%02d", @event.start_time.hour)}:#{sprintf("%02d", @event.start_time.min)}" %>>
           <% end %>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_end_time">End Time</label>
  <div class="col-md-3">
    <input type="time" name="event[end_time]"
           class="form-control" 
           value=<% if @event.end_time %>
           <%= "#{sprintf("%02d", @event.end_time.hour)}:#{sprintf("%02d", @event.end_time.min)}" %>>
           <% end %>
    </select>  
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_location_id">Location</label>
  <div class="col-md-5">
    <select id="event_location_id" name="event[location_id]" class="form-control">
      <% @locations.each do |location| %>
        <option value="<%= location.id %>"
          <%= "selected" if @event.location_id == location.id %>>
            <%= "#{location.name}" %>
        </option>
      <% end %>
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_room">Room</label>
  <div class="col-md-3">
    <input type="text" id="event_room" class="form-control"
           name="event[room]" value="<%= @event.room %>">
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_contact_name">Contact Name</label>
  <div class="col-md-4">
    <input type="text" id="event_contact_name" class="form-control"
           name="event[contact_name]" value="<%= @event.contact_name %>">
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_contact_phone">Contact Phone</label>
  <div class="col-md-4">
    <input type="text" id="event_contact_phone" class="form-control"
           name="event[contact_phone]" value="<%= @event.contact_phone %>">
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_contact_email">Contact Email</label>
  <div class="col-md-4">
    <input type="text" id="event_contact_email" class="form-control"
           name="event[contact_email]" value="<%= @event.contact_email %>">
  </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label" for="event_max_seats">Max Seats</label>
  <div class="col-md-2">
    <input type="text" id="event_max_seats" class="form-control"
           name="event[max_seats]" value="<%= @event.max_seats %>">
 </div>
</div>
<div class="form-group">
  <label class="col-md-3 control-label sr-only"></label>
  <div class="col-md-4">
    <input type="submit" value="Submit" class="btn btn-primary">