<input type="hidden" name="authenticity_token" 
 value="<%= form_authenticity_token %>">
<div class="control-group">
 <label class="control-label" for="event_term_id">Term</label>
 <div class="controls">
   <select id="event_term_id" name="event[term_id]" class="span2">
      <% @terms.each do |term| %>
        <option value="<%= term.id %>"
          <%= "selected" if @event.term_id == term.id %>>
            <%= term.dept_code %> 
        </option>
      <% end %>
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_name">Event Name</label>
  <div class="controls">
    <input type="text" id="event_name" 
           name="event[name]" 
           value="<%= @event.name %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_date">Date</label>
  <div class="controls">
    <input type="date" id="event_date" 
           name="event[date]" class="span3"
           value="<%= @event.date %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_start">Time</label>
  <div class="controls">
    <input type="time" id="event_start" 
           name="event[start]"
           class="span2" 
           value=<% if @event.start_time %>
           <%= "#{sprintf("%02d", @event.start_time.hour)}:#{sprintf("%02d", @event.start_time.min)}" %>>
           <% end %>
    </select>
    -
    <input type="time" name="event[end]"
           class="span2" 
           value=<% if @event.end_time %>
           <%= "#{sprintf("%02d", @event.end_time.hour)}:#{sprintf("%02d", @event.end_time.min)}" %>>
           <% end %>
    </select>  
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_location_id">Location</label>
  <div class="controls">
    <select id="event_location_id" name="event[location_id]" class="span3">
      <% @locations.each do |location| %>
        <option value="<%= location.id %>"
          <%= "selected" if @event.location_id == location.id %>>
            <%= "#{location.name}" %>
        </option>
      <% end %>
    </select>
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_room">Room</label>
  <div class="controls">
    <input type="text" id="event_room" class="span1"
           name="event[room]" value="<%= @event.room %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_contact_name">Contact Name</label>
  <div class="controls">
    <input type="text" id="event_contact_name" class="span2"
           name="event[contact_name]" value="<%= @event.contact_name %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_contact_phone">Contact Phone</label>
  <div class="controls">
    <input type="text" id="event_contact_phone" class="span2"
           name="event[contact_phone]" value="<%= @event.contact_phone %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_contact_email">Contact Email</label>
  <div class="controls">
    <input type="text" id="event_contact_email" class="span3"
           name="event[contact_email]" value="<%= @event.contact_email %>">
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="event_max_seats">Max Seats</label>
  <div class="controls">
    <input type="text" id="event_max_seats" class="span1"
           name="event[max_seats]" value="<%= @event.max_seats %>">
<br>
<br>
<input type="submit" value="Submit" class="btn btn-primary">