<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
      <th>Room Number</th>
      <th>Contact Name</th>
      <th>Contact Phone</th>
      <th>Contact Email</th>
      <th>Max Seats</th>
      <th>Remaining Seats</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.date %>
      <td><%= event.start %> - <%= event.end %></td>
      <td><%= event.location_id %></td>
      <td><%= event.room %></td>
      <td><%= event.contact_name %></td>
      <td><%= event.contact_phone %></td>
      <td><%= event.contact_email %></td>
      <td><%= event.max_seats %></td>
      <td><%= event.max_seats %></td>
      <td></td>
    </tr>
  <% end %>
</table>