<form action="<%= attendance_export_url %>" method="post" 
      class="form-horizontal">
   <input type="hidden" name="authenticity_token" 
     value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label for="attendance_record_course_id" class="col-md-4 control-label">Course</label>
    <div class="col-md-4">
       <select id="attendance_record_course_id" name="attendance_record[course_id]" 
              class="form-control">
        <% @courses.each do |course| %>
          <option value="<%= course.id %>" <%= 'selected' if session[:course_id] && session[:course_id].to_i == course.id %>>
              <%= "#{course.dept_code} #{course.course_type.long_name}" %> 
          </option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="attendance_record_start_date" class="col-md-4 control-label">Start Date</label>
    <div class="col-md-4">
      <input type="date" class="form-control" id="attendance_record_start_date" 
             name="attendance_record[start_date]"
             value="<%= session[:start_date] %>">
    </div>
  </div>
  <div class="form-group">
    <label for="attendance_record_end_date" class="col-md-4 control-label">End Date</label>
    <div class="col-md-4">
      <input type="date" class="form-control" id="attendance_record_end_date"
             name="attendance_record[end_date]"
             value="<%= session[:end_date] %>">
    </div>
  </div>
  <div class="form-group">
    <label for="attendance_record_end_date" class="col-md-4 control-label sr-only"></label>
    <div class="col-md-4">
      <button type="submit" class="btn btn-default btn-primary">Go!</button>
    </div>
  </div>
</form>
<% if @course %>
  <h3><span class="lead">Attendance for <%= @course.dept_code %> between <%= session[:start_date] %> and <%= session[:end_date] %></span></h3>
  <a href="/attendance_export/new.csv">Export CSV</a>
  <table class="table table-striped table-condensed table-hover">
    <thead>
      <tr>
        <th>Student Name</th>
        <% @dates.each do |date| %>
          <th><%= date.day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @students.each do |student| %> 
          <td><%= student.name %></td>
          <% @dates.each do |date| %>
            <td>
              <% found = @attendance_records.select do |record| %>
                <% student.id == record.student_id && record.date == date %>
              <% end %>
              <%= found.first.hours unless found.empty? %>
            </td>
          <% end %>
                </tr>
        <% end %>
    </tbody>
  </table>
 <% end %> 