<table>
  <tr>
    <td>
<input type="hidden" name="authenticity_token" 
       value="<%= form_authenticity_token %>">
<div class="form-group">
  <label class="col-md-3 control-label" for="course_synonym">Synonym</label>
  <div class="col-md-4">
    <input type="text" id="course_synonym" class="form-control"
           name="course[synonym]" value="<%= @course.synonym %>">
  </div>
</div>
</td>
<td>
  </td>
  <tr>
    <td>
<div class="form-group">
  <label class="col-md-3 control-label" for="course_course_type_id">Course Type</label>
  <div class="col-md-8">
    <select id="course_course_type_id" name="course[course_type_id]" 
            class="form-control">
      <% @course_types.each do |course_type| %>
        <option value="<%= course_type.id %>"
          <%= "selected" if @course.course_type_id == course_type.id %>>
          <%= course_type.long_name %>
        </option>
      <% end %>
    </select>
 </div>
</div>
</td>
<td>
<div class="form-group">
  <label class="col-md-3 control-label" for="course_course_section">Section</label>
  <div class="col-md-8">
    <input type="text" id="course_section" 
           name="course[section]" value="<%= @course.section %>" 
           class="form-control">
  </div>
</div>
</td>
</tr>
<tr>
  <td>
<div class="form-group">
  <label class="col-md-3 control-label">Term</label>
  <div class="col-md-8">
    <input type="text" id="course_section" 
           value="<%= current_term.dept_code if current_term %>" 
           class="form-control" disabled>
  </div>
</div>
</td>
<td>
<div class="form-group">
  <label class="col-md-3 control-label" for="course_location_id">Location</label>
  <div class="col-md-8">
    <select id="course_location" name="course[location_id]" class="form-control">
      <% @locations.each do |location| %>
        <option value="<%= location.id %>"
          <%= "selected" if @course.location_id == location.id %>>
            <%= "#{location.code}" %>
        </option>
      <% end %>
    </select>
  </div>
</div>
</td>
</tr>
<tr>
<td>
<div class="form-group">
  <label class="col-md-3 control-label" for="course_course_number">Number</label>
  <div class="col-md-8">
    <input type="text" id="course_number" 
           name="course[number]" value="<%= @course.number %>"
           class="form-control">
  </div>
</div>
</td>
<td>
<div class="form-group">
  <label class="col-md-3 control-label" for="course_instructor_id">Instructor</label>
  <div class="col-md-8">
    <select id="course_instructor_id" name="course[instructor_id]" class="form-control">
      <% @instructors.each do |instructor| %>
        <option value="<%= instructor.id %>" 
          <%= "selected" if @course.instructor_id == instructor.id %> >
            <%= "#{instructor.fname} #{instructor.lname}" %>
        </option>
      <% end %>
    </select>
  </div>
</div>
</td>
</tr>
</table>
<div style="width:500px">
<center>
  <% @short_days.each_with_index do |day, idx| %>
  <label class="checkbox-inline">
    <input type="checkbox" value="true" 
           name="course[<%= @long_days[idx] %>]" id="course_<%= @long_days[idx] %>"
           <%= "checked" if @course_days.include?(day) %>>
      <%= day %>
  </label>
  <% end %>
<br><br>
</center>
</div>
<table>
  <tr>
    <td>
  <div class="form-group">
    <label class="col-md-3 control-label" for="course_start_time">Start</label>
    <div class="col-md-6">
      <input type="time" id="course_start_time" 
             name="course[start_time]"
             class="form-control" 
             value=<% if @course.start_time %>
             <%= "#{sprintf("%02d", @course.start_time.hour)}:#{sprintf("%02d", @course.start_time.min)}" %>>
             <% end %>
      </select>
    </div>
  </div>
</td>
<td>
  <div class="form-group">
    <label class="col-md-3 control-label" for="course_start_time">End</label>
    <div class="col-md-6">
      <input type="time" name="course[end_time]"
             class="form-control" 
             value=<% if @course.end_time %>
             <%= "#{sprintf("%02d", @course.end_time.hour)}:#{sprintf("%02d", @course.end_time.min)}" %>>
             <% end %>
      </select>  
    </div>
  </div>
</td>
</tr>
<tr>
  <td>
  <div class="form-group">
    <label class="col-md-3 control-label" for="course_max_seats">Max Enroll</label>
    <div class="col-md-4">
      <input type="text" id="course_max_seats" 
             name="course[max_seats]" value="<%= @course.max_seats %>"
             class="form-control">
    </div>
  </div>
</td>
<td>
  <div class="form-group">
    <label class="col-md-3 control-label" for="course_min_seats">Min Enroll</label>
    <div class="col-md-4">
      <input type="text" id="course_min_seats" 
             name="course[min_seats]" value="<%= @course.min_seats %>"
             class="form-control">
    </div>
  </div>
</td>
</tr>
<tr>
  <td>
  <div class="form-group">
    <label class="col-md-3 control-label" for="course_room_number">Rm No.</label>
    <div class="col-md-5">
      <input type="text" id="course_room_number" 
             name="course[room_number]" value="<%= @course.room_number %> "
             class="form-control">
    </div>
  </div>
</td>
<td>
  <div class="form-group">
    <label class="col-md-3 control-label" for="course_budget_code">Budget Code</label>
    <div class="col-md-5">
      <input type="text" id="course_budget_code" 
             name="course[budget_code]" value="<%= @course.budget_code %> "
             class="form-control">
    </div>
  </div>
</td>
</tr>
</table>
<div style="width:500px">
  <center>
    <input type="submit" value="Submit" class="btn btn-primary">