<input type="hidden" name="authenticity_token" 
 value="<%= form_authenticity_token %>">
<p>
  <label for="course_course_type_id">Type</label>
  <select id="course_course_type_id" name="course[course_type_id]">
    <% @course_types.each do |course_type| %>
      <option value="<%= course_type.id %>"
        <%= "selected" if @course.course_type_id == course_type.id %>>
        <%= "#{course_type.long_name}(#{course_type.discipline}-#{course_type.level})" %>
      </option>
    <% end %>
  </select>
  - 
  <input type="text" id="course_section" 
         name="course[section]" value="<%= @course.section %>">
</p>
  <label for="course_synonym">Synonym</label>
  <input type="text" id="course_synonym" 
         name="course[synonym]" value="<%= @course.synonym %>">
<p>
  <label for="course_term">Code</label>
  <select id="course_term" name="course[term_id]">
    <% @terms.each do |term| %>
      <option value="<%= term.id %>"
        <%= "selected" if @course.term_id == term.id %>>
          <%= "#{term.semester[0]}#{term.year.to_s[-2..-1]}#{term.number}" %> 
      </option>
    <% end %>
  </select>
  <select id="course_location" name="course[location_id]">
    <% @locations.each do |location| %>
      <option value="<%= location.id %>"
        <%= "selected" if @course.location_id == location.id %>>
          <%= "#{location.code}" %>
      </option>
    <% end %>
  </select>
  -
  <input type="text" id="course_number" 
         name="course[number]" value="<%= @course.number %>">
</p>
<br>
  <% @days.each do |day| %>
    <label for="course_<%= day %>"><%= day %></label>
    <input type="checkbox" value="true" 
           name="course[<%= day.downcase %>]" id="course_<%= day %>"
           <%= "checked" if @course_days.include?(day) %>>
    <br>
  <% end %>
<br>
<p>
  <label for="course_start_time">Time</label>
  <input type="time" id="course_start_time" 
         name="course[start_time]" 
         value="<%= "#{sprintf("%02d", @course.start_time.hour)}:#{sprintf("%02d", @course.start_time.min)}" %>">
  </select>
  -
  <input type="time" name="course[end_time]" 
         value="<%= "#{sprintf("%02d", @course.end_time.hour)}:#{sprintf("%02d", @course.end_time.min)}" %>">
  </select>  
</p>
<p>
  <label for="course_room_number">Room Number</label>
  <input type="text" id="course_room_number" 
         name="course[room_number]" value="<%= @course.room_number %> ">
</p>
<p>
  <label for="course_seats">Available Seats</label>
  <input type="text" id="course_seats" 
         name="course[seats]" value="<%= @course.seats %>">
</p>
<p>
  <label for="course_budget_code">Budget Code</label>
  <select id="course_budget_code" name="course[budget_code]">
    <% @budget_codes.each do |budget_code| %>
      <option value="<%= budget_code %>"
        <%= "selected" if @course.budget_code == budget_code %>>
          <%= budget_code %>
      </option>
    <% end %>
  </select>
</p>
<p>
  <label for="course_instructor_id">Instructor</label>
  <select id="course_instructor_id" name="course[instructor_id]">
    <% @instructors.each do |instructor| %>
      <option value="<%= instructor.id %>" 
        <%= "selected" if @course.instructor_id == instructor.id %> >
          <%= "#{instructor.fname} #{instructor.lname}" %>
      </option>
    <% end %>
  </select>
</p>

<input type="submit" value="Submit">