<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Synonym</th>
      <th>Course Code</th>
      <th>Dept Code</th>
      <th>Type</th>
      <th>Location</th>
      <th>Days</th>
      <th>Time</th>
      <th>Instructor</th>
      <th>Min Enroll</th>
      <th>Max Enroll</th>
      <th>Budget Code</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.synonym %></td>
        <td><%= course.course_code %></td>
        <td><%= course.dept_code %></td>
        <td><%= course.course_type.short_name %></td>
        <td><%= course.location.name %></td>
        <td><%= course.small_days %></td>
        <td><%= course.start_time.strftime("%l:%M%P") %> -
            <%= course.end_time.strftime("%l:%M%P") %></td>
        <td><%= course.instructor.full_name %></td>
        <td><%=course.min_seats %></td>
        <td><%=course.max_seats %></td>
        <td><%=course.budget_code %></td>
        <td><%= link_to "edit", edit_course_url(course) %> | 
            <%= link_to "delete", course_url(course), :method => "delete" %>
      </tr>   
    <% end %>
  </tbody>
</table>
<%= link_to "add course", new_course_url %>