<div class="accordion" id="attendance">
 <% @month_years.each do |month, year| %>
   <div class="accordion-group">
     <div class="accordian-heading">
       <a class="accordion-toggle" data-toggle="collapse" 
         data-parent="#attendance" href="#collapse<%=month%>">
           <%= "#{month} #{year}" %>
       </a>
     </div>
     <div id="collapse<%=month%>" class="accordion-body collapse">
       <div class="accordion-inner">
         <table class="table table-striped">
           <thead>
             <tr>
               <% @course.dates.each do |date| %>
               <% next unless Date::MONTHNAMES[date.month] == month %>
                 <th><center><%= date.strftime("%m/%d/%Y") %></center></th>
               <% end %>
             </tr>
           </thead>
           <tbody>
             <% @students.each do |student| %>
               <tr>
                 <td><%= student.name %></td>
                 <% @course.dates.select { |date| Date::MONTHNAMES[date.month] == month}.length.times do %>
                 <td><div class="row fluid"><center><input type="text" class="span1"></center></div></td>
                 <% end %>
               </tr>
             <% end %>
          </tbody>
        </table>
       </div>
     </div>
   </div>
   <% end %>
 </div>