<button id="sign-in" class="btn btn-primary">Print Sign-In Sheet</button>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Synonym</th>
      <th>Course Code</th>
      <th>Dept Code</th>
      <th>Type</th>
      <th>Location</th>
      <th>Days</th>
      <th>Time</th>
      <th>Instructor</th>
      <th>Tot. Enr.</th>
      <th>ADA</th>
      <% if current_user.client %>
        <th>Min Enr.</th>
        <th>Max Enr.</th>
        <th>Budget Code</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @course.synonym %></td>
        <td><%= @course.course_code %></td>
        <td><%= @course.dept_code %></td>
        <td><%= @course.course_type.short_name %></td>
        <td><%= @course.location.name %></td>
        <td><%= @course.small_days %></td>
        <td><%= @course.start_time.strftime("%l:%M%P") %> -
            <%= @course.end_time.strftime("%l:%M%P") %></td>
        <td><%= @course.instructor.full_name %></td>
        <td><%= @course.total_enrolled %></td>
        <td><%= @course.ada %></td>
        <% if current_user.client %>
          <td><%=@course.min_seats %></td>
          <td><%=@course.max_seats %></td>
          <td><%=@course.budget_code %></td>
        <% end %>
      </tr>   
  </tbody>
</table>

<div class="accordion" id="attendance">
  <div class="accordion-group">
    <div class="accordion-heading">
      <center>
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Class Roster
        </a>
      </center>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Student Name</th>
      <th>DOB</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.idn %></td>
        <td><%= student.name %></td>
        <td><%= student.dob %></td>
        <td><%= student.phone %></td>
        <td><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
      </div>
    </div>
  </div>
  <% @month_years.each do |month, year| %>
    <div class="accordion-group">
      <div class="accordian-heading">
        <center>
          <a class="accordion-toggle" data-toggle="collapse" 
             data-parent="#attendance" href="#collapse<%=month%>">
               <%= "#{month} #{year}" %>
          </a>
        <center>
      </div>
      <div id="collapse<%= month %>" 
           class="accordion-body collapse">
        <div class="accordion-inner">
          <table class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th></th>
                <% @course.dates.each do |date| %>
                  <% next unless Date::MONTHNAMES[date.month] == month %>
                  <th>
                    <center>
                      <%= "#{Date::DAYNAMES[date.wday][0..2]} #{date.day}" %>
                    </center>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @students.each do |student| %>
                <tr>
                  <td>
                    <%= student.name %>
                    <br>
                    <%= "C. A. #{@course.student_attendance(student)}%" %>
                    <br>
                    <%= "T. A. #{student.attendance(@course.term_id)}%" %>
                  </td>
                  <% @course.dates.select { |date| Date::MONTHNAMES[date.month] == month}.each do |date| %>
                    <% attendance_record = @attendance_records.select do |record| %>
                      <% record.date == date && record.student_id == student.id && record.course_id == params[:id].to_i %>
                    <% end %>
                    <% if attendance_record.first.nil? %>
                      <td align="center">
                        <%= render partial: "attendance_form", :locals => { student: student, date: date } %>
                        

                      </td>
                    <% else %>
                      <td align="center">
                        <form style="float:none; width:50px" class="attn-form">
                          <input type="text" 
                                 value="<%= attendance_record.first.hours %>"
                                 class="form-control" readonly >
                          <a href="#" attn-id="<%= attendance_record.first.id %>" stu-id="" course-id="<%= params[:id] %>" date="<%= date %>">delete</a>
                        </form>
                      </td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
<!-- <div class="accordion" id="print-hidden">
  <div class="accordion-group">
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner"> -->
        <%= render partial: "signin_form", :locals => { course: @course, students: @students } %>
<!--       </div>
    </div>
  </div>
</div> -->