<!-- Button to trigger modal -->
<a data-toggle="modal" href="#forceRegistration" class="btn btn-primary pull-right">Force Register Student</a>

<div class="modal fade" id="forceRegistration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Force Enroll</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <form action="<%= course_regs_url %>" method="post">
            <input type="hidden" name="authenticity_token" 
                   value="<%= form_authenticity_token %>">
              <div class="form-group">
                <label class="col-md-3 control-label sr-only" for="course_reg_student_id"></label>
                <div class="col-md-11">
                  <select id="course_reg_student_id" name="course_reg[student_id]" 
                          class="form-control">
                    <% @all_students.each do |student| %>
                      <option value="<%= student.id %>">
                          <%= "#{student.idn} #{student.name} #{student.dob}"%> 
                      </option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label sr-only" for="course_reg_course_id"></label>
                <div class="col-md-11">
                <select id="course_reg_course_id" name="course_reg[course_id]" 
                        class="form-control">
                  <% @all_courses.each do |course| %>
                    <option value="<%= course.id %>">
                        <%= "#{course.dept_code} #{course.course_type.long_name}"%> 
                    </option>
                  <% end %>
                </select>
               </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label sr-only"></label>
                <div class="col-md-4">
                  <input type="submit" value="Submit" class="btn btn-primary">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>